#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   https://www.haproxy.org/download/1.8/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------

global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend k3s_https
    bind *:443 ssl crt {{ crt_path }}
    mode http
    option forwardfor
    http-request set-header Host %[req.hdr(Host)]
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Real-IP %[src]
    {% for item in dns %}
    acl rancher hdr_dom(host) -i rancher.monitor.plm.com
    {% endfor %}
    default_backend k3s_https

frontend k3s_http
    bind *:80
    mode http
    option forwardfor
    http-request set-header Host %[req.hdr(Host)]
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Forwarded-Proto http
    http-request set-header X-Real-IP %[src]
    default_backend k3s_http

frontend k3s_frontend
    bind *:6445
    mode tcp
    option tcplog
    default_backend k3s_backend

backend k3s_backend
    mode tcp
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s
    {% for server in servers %}
    server {{ server.name }} {{ server.ip }}:{{ server.port }} check
    {% endfor %}

#---------------------------------------------------------------------
# Backend for HTTP traffic (port 80)
#---------------------------------------------------------------------
backend k3s_http
    balance roundrobin
    mode http
    {% for server in servers_http %}
    server {{ server.name }} {{ server.ip }}:{{ server.port }} check
    {% endfor %}

#---------------------------------------------------------------------
# Backend for HTTPS traffic (port 443)
#---------------------------------------------------------------------
backend k3s_https
    balance roundrobin
    mode http
    {% for server in servers_https %}
    server {{ server.name }} {{ server.ip }}:{{ server.port }} check
    {% endfor %}
