ui            = true
cluster_addr  = "{{ vault_cluster_addr }}"
api_addr      = "{{ vault_api_addr }}"
disable_mlock = true

storage "file" {
  path = "{{ vault_data_dir }}"
}

listener "tcp" {
  address       = "0.0.0.0:8200"
  cluster_address = "0.0.0.0:8201"
  tls_cert_file = "{{ vault_tls_dir }}/tls.crt"
  tls_key_file  = "{{ vault_tls_dir }}/tls.key"
}
