node_id={{ node_id }}
node_name={{ node_name }}
conninfo='host={{ ansible_host }} user=repmgr dbname=repmgr connect_timeout=2'
data_directory='{{ psql_data_directory_path }}'
failover=automatic
promote_command='{{ psql_bindir_path }}/repmgr standby promote -f {{ psql_repmgr_conf_path }} --log-to-file && {{ psql_bindir_path }}/repmgr -f {{ psql_repmgr_conf_path }} node service --action=restart --checkpoint'
follow_command='{{ psql_bindir_path }}/repmgr standby follow -f {{ psql_repmgr_conf_path }} --log-to-file upstream-node-id=%n'
pg_bindir='{{ psql_bindir_path }}/'
log_file='/var/lib/postgresql/{{ psql_version }}/repmgr.log'
